body{
	color: #666;
}
.border{border: solid 1px;}
.clearfix{display: block;}
.rainbow-pan{
    position: relative;
    top: 0px;
    height: 100px;
    overflow: hidden;
    width: 200px;
    right: 0;
    float: right;
}
.rainbow{
    	position: absolute;
   	top: 0px;
    	right: 0;
	width: 200px;
	height: 200px;
	-webkit-background: radial-gradient(circle,transparent 35%,red 40%,
		orange 45%,yellow 50%,green 55%,blue 60%,indigo 65%,violet 70%,
		transparent 71%);
	background: radial-gradient(circle,transparent 35%,red 40%,
		orange 45%,yellow 50%,green 55%,blue 60%,indigo 65%,violet 70%,
		transparent 71%);
}
.rainbow-tips{
    	text-align: center;
    	position: absolute;
    	right: 0px;
    	top: 130px;
    	width: 200px;
    	height: 50px;
    	color: #fff;
    	font-family: 幼圆;
}
.personalInfo{
	transition: 2s;
	-moz-transition: 2s;	/* Firefox 4 */
	-webkit-transition: 2s;	/* Safari 和 Chrome */
	-o-transition: 2s;	/* Opera */
}
.personalInfo:hover{
	color: orange;
	transform:rotate(360deg);
	-moz-transform:rotate(360deg); /* Firefox 4 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	-o-transform:rotate(360deg); /* Opera */

}
.imgBig{
	
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-moz-transition: 1s;
}
.imgBig:hover{
	
}

.content{margin-bottom: 10px;}
.content p{
	margin-top: 5px;
}
.personalInfo{
	cursor: default;
	font-size: 18px;
	font-style: bold;
	text-align: left;
	width: 202px;
	/*background-image: url(../../images/header-bg.jpg);*/
}
.personalPic{
	height: auto;
	width: 202px;
	border-radius: 5px;
}
.fl{float: left;}
.fr{float: right;}
.inner{position: relative;width: 940px;margin: 0 auto;padding-top: 20px;}
.sidebar-r{width: 200px;}
.content-main{width: 690px;}
.content-main img{width: 100%;}
/*.content-main h3:before{margin-left: -2em;color:#9ddcff;content: "///";}*/
header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}

header h1 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

header h2 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: #9ddcff;
  letter-spacing: 0;
}
h3.content-main  {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  color: #474747;
  text-indent: 3px;
}

h3.content-main :before {
  padding-right: 0.3em;
  margin-left: -2em;
  content: "///";
  color: #9ddcff;
}
h4{
	font-family: "Helvetica Neue";
	font-size: 16px;
	color: #474747;
}
.footer{
	position: relative;
	width: 940px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.loginTips{
	margin-right: -150px;
	font-size: 16px;
}
.tree{
	font-size: 40px;
	color: green;
}
.plane{
	font-size: 18px;
	position: relative;
	animation: myplane 5s linear alternate;
	-moz-animation: myplane 5s linear alternate;
	-webkit-animation: myplane 5s linear alternate;
	-o-animation: myplane 5s linear alternate;
}
@keyframes myplane{
	0%{transform: rotate(0deg);left: 0px;top: 0px;}
	20%{transform: rotate(25deg);left: 20px;top: -25px;}
	25%{transform: rotate(40deg);left: 20px;top: -25px;}
	100%{transform: rotate(45deg);left: 940px;top: 0px;}
}
@-moz-keyframes myplane{
	0%{-moz-transform: rotate(0deg);left: 0px;top: 0px;}
	20%{-moz-transform: rotate(25deg);left: 20px;top: -25px;}
	25%{-moz-transform: rotate(40deg);left: 20px;top: -25px;}
	100%{-moz-transform: rotate(45deg);left: 940px;top: 0px;}
}
@-webkit-keyframes myplane{
	0%{-webkit-transform: rotate(0deg);left: 0px;top: 0px;}
	20%{-webkit-transform: rotate(25deg);left: 20px;top: -25px;}
	25%{-webkit-transform: rotate(40deg); left: 20px;top: -25px;}
	100%{-webkit-transform:rotate(45deg);left: 940px;top: 0px;}
}
@-o-keyframes myplane{
	0%{-o-transform: rotate(0deg);left: 0px;top: 0px;}
	20%{-o-transform: rotate(25deg);left: 20px;top: -25px;}
	25%{-o-transform: rotate(40deg);left: 20px;top: -25px;}
	100%{-o-transform: rotate(45deg);left: 940px;top: 0px;}
}
