body{
	color: #666;
}
.border{border: solid 1px;}
.clearfix{display: block;}

div.personalInfo{
	transition: 2s;
	-moz-transition: 2s;	/* Firefox 4 */
	-webkit-transition: 2s;	/* Safari 和 Chrome */
	-o-transition: 2s;	/* Opera */
}
div.personalInfo:hover{
	color: orange;
	transform:rotate(360deg);
	-moz-transform:rotate(360deg); /* Firefox 4 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	-o-transform:rotate(360deg); /* Opera */

}

.content{margin-bottom: 10px;}
.content p{
	margin-top: 5px;
}
.personalInfo{
	cursor: default;
	font-size: 18px;
	font-style: bold;
	text-align: left;
	width: 202px;
	/*background-image: url(../../images/header-bg.jpg);*/
}
.personalPic{
	height: auto;
	width: 202px;
}
.fl{float: left;}
.fr{float: right;}
.inner{position: relative;width: 940px;margin: 0 auto;padding-top: 20px;}
.sidebar-r{width: 200px;}
.content-main{width: 690px;}
.content-main img{width: 100%;}
/*.content-main h3:before{margin-left: -2em;color:#9ddcff;content: "///";}*/
header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}

header h1 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

header h2 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: #9ddcff;
  letter-spacing: 0;
}
h3.content-main  {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  color: #474747;
  text-indent: 3px;
}

h3.content-main :before {
  padding-right: 0.3em;
  margin-left: -2em;
  content: "///";
  color: #9ddcff;
}
h4{
	font-family: "Helvetica Neue";
	font-size: 16px;
	color: #474747;
}
.footer{
	position: relative;
	width: 940px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.tree{
	font-size: 40px;
	color: green;
}
.plane{
	font-size: 18px;
	position: relative;
	animation: plane 5s linear 1s infinite alternate running;
	-moz-animation: plane 5s linear 1s infinite alternate running;
	-webkit-animation: plane 5s linear 1s infinite alternate running;
	-o-animation: plane 5s linear 1s infinite alternate running;
}
@keyframes plane{
	0%{left: 0px;top: 0px;}
	10%{left: 20px;top: -25px;}
	15%{
		
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}
	100%{left: 940px;top: 0px;}
}
@-moz-keyframes plane{
	0%{left: 0px;top: 0px;}
	10%{left: 20px;top: -25px;}
	15%{
		
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}
	100%{left: 940px;top: 0px;}
}
@-webkit-keyframes plane{
	0%{left: 0px;top: 0px;}
	10%{left: 20px;top: -25px;}
	15%{
		
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}
	100%{left: 940px;top: 0px;}
}
@-o-keyframes plane{
	0%{left: 0px;top: 0px;}
	10%{left: 20px;top: -25px;}
	15%{-o-transform: rotate(45deg);}
	100%{left: 940px;top: 0px;}
}
